@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-nunito;
  }
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.card {
  @apply bg-white rounded-lg shadow-md p-4 sm:p-6 hover:shadow-lg transition-shadow duration-300;
}

.nav-link {
  @apply text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md;
}

.bg-body-color {
  background-color: #5a3113;
}

.higlights {
  margin: 0.5rem 0 2.5rem 0;
}

.bg-branding {
  background-color: #ce8131;
}

main p {
  color: #ffffff;
}

header {
  letter-spacing: 1px;
}

main {
  letter-spacing: 1px;
}

.text-title-about {
  font-size: 2rem;
  color: #ce8131;
}

.text-title-about2 {
  font-size: 2rem;
  color: #354024;
}

.title-footer {
  letter-spacing: 1px;
  color: #ce8131;
}

.title-footer2 {
  letter-spacing: 1px;
  color: #ffffff;
}

.swiper-pagination-bullet {
  background-color: #d1d5db; /* abu-abu */
  opacity: 1; /* kalau mau penuh */
}

.swiper-pagination-bullet-active {
  background-color: #ce8131 !important; /* biru Tailwind (blue-500) */
}
